*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

#sidebar {
    background-color: #efefef;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
    height: 980px;
    width: 20%;
    float: left;
    padding: 0;
    margin: 0;
}
#sidebar ul {
    padding: 0;
    margin: 0;
    height:100%;
    list-style-type: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul .title {
    padding: 5px 5px 5px 10px;
    margin: 0;
}
#sidebar ul .title h3 {
    padding: 0;
    margin: 0;
}
#sidebar ul li a {
    text-decoration: none;
    padding: 5px 5px 5px 10px;
    display: block;
}
#sidebar ul li a:hover {
    background-color: #dfdfdf;
}

#list-data,
#login {
    -webkit-flex: 5;
    -moz-flex: 5;
    flex: 5;
    width: 80%;
    float: left;
    padding: 20px;
}

#list-data .personal-information {
    border: 1px solid #afafaf;
    height: 50px;
    margin: 4px;
    padding: 5px;
}
#list-data .people:hover {
    background-color: #efefef;
    cursor: pointer;
}
