<div id="list-data">
    <h2>List Data</h2>
    <div class="well personal-information"></div>
    {{#each people as | person | }}
    <div class="col-md-4">
        <div class="panel panel-default people">
            <div class="panel-body" {{action "showInfo" person.name}}>{{person.name}}</div>
        </div>
    </div>
    {{/each}}
    {{outlet}}
</div>
