<style type="text/css">
* {
    box-sizing: border-box;
}

#personal-information {
    border: 1px solid #afafaf;
    height: 50px;
    margin: 4px;
    padding: 5px;
}

.people {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.people li {
    border: 1px solid #afafaf;
    padding: 5px;
    margin: 3px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width:29%;
    display: inline-block;
}
.people li:hover {
    background-color: #efefef;
    cursor: pointer;
}

</style>
<h2>List Data</h2>
<div id="personal-information"></div>
<ul class="people">
    {{#each people as | person | }}
    <li {{action "showInfo" person.name}}>{{person.name}}</li>
    {{/each}}
</ul>
{{outlet}}
