<h2>List Data</h2>
<div id="personal-information"></div>
<ul class="people">
    {{#each people as | person | }}
    <li {{action "showInfo" person.name}}>{{person.name}}</li>
    {{/each}}
</ul>
{{outlet}}
